/* mobile device */
@media only screen and (min-width: 576px) {
    .carousel-indicators {
        display: none;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

}