.overlay {
    filter: brightness(50%);
}

.bg-color {
    background-color: #F4FAFD;
}


/* mobile device */
@media only screen and (min-width: 576px) {
    .three-lines {
        display: none;
    }

    .arrow {
        display: none;
    }

    .arrow-two {
        display: none;
    }

    .fs-4 {
        font-size: 20px !important;
    }

    .fs-5 {
        font-size: 18px !important;
        padding: 0px 50px 0px 50px;
    }

    .card-border {
        width: 100%;
    }

    .paragraph-text {
        padding: 0px 100px 0px 0px;
    }

    .fs-1 {
        margin-top: 20px !important;
    }

    .hide-text {
        display: none;
    }

}